gtk-4.0/
gtk-3.0/
spotify/
onlyoffice/
flutter/
go/
nautilus/
dconf/
ranger/
glib-2.0/
fontconfig/
htop/
tigervnc/
GIMP/
goa-1.0/
github-copilot/
Code/
tmux/plugins/


user-dirs.locale
mimeapps.list

